doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- link(rel='stylesheet', href='css/bootstrap-responsive.css') //probably already compiled into boostrap.min
    
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='js/startbootstrap-scrolling-nav-1.0.3/css/scrolling-nav.css')
    link(rel='stylesheet', href='css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css')

    //- use browserify
    //- script(src='js/bundle.js')

    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/startbootstrap-scrolling-nav-1.0.3/js/jquery.easing.min.js')
    script(src='js/startbootstrap-scrolling-nav-1.0.3/js/scrolling-nav.js')
    script(src='js/d3.v3.min.js')
    script(src='html5-qrcode-master/lib/jsqrcode-combined.min.js')
    script(src='html5-qrcode-master/lib/html5-qrcode.min.js')
    //- IndianaJS is imported from the main project folder linked statically in app.js
    script(src='indiana.js')
    script(src='js/radar.js')
    script(src='js/headroom.min.js')


body.container-fluid
    header#explorerheader(role="navigation").row.navbar.materialshadow
        h1.pull-left #{title} Explorer
        a(href="#overviewbar").page-scroll.pull-right
            ul.list-inline
                li 
                    h2 Content
                li
                    span.glyphicon.glyphicon-list-alt
    section#radar.page-section.row
        br
        p#radartarget(style="text-align: center") 
        div#radardiv
        div#qrcodediv(style="width: 300px; height:200px")
        //- div#qrcodedivdata
        //- div#qrcodediverr
        //- button(onclick="readqrcode()") Read QR code
        //- button(onclick="getIndianaData()") Ask Indiana for Data
        //- button(onclick="resetIndianaOrientation()") Reset Device Orientation
        //- button(onclick="toggleShowSelectedItem()") Toggle only show infront
        //- div#radartarget none
        //- img(src="img/Radar1.jpg")
    header#overviewbar(role="navigation").row.materialshadow
        h1.pull-left #{title} Page
        a(href='#explorerheader').page-scroll.pull-right 
            ul.list-inline
                li
                    h2 Radar
                li
                    span#mini_radar_icon.glyphicon.glyphicon-dashboard
                    img#mini_radar_selection
    section#pagecontent(vocab='http://schema.org/', role='main').page-section.home
    
      h1 Till's demo desk
      |Simple demo of a simple static website extended uses indiana.js with a compass widget   
      
      div#flower(typeof='Product')
        img(src='img/flower2.jpg', alt='green Blume')
        div.description   
          h2(property='name') Carex Grass     
          a(href="https://en.wikipedia.org/wiki/Carex") (see also wikipedia )
          span.postit
              | Don't forget to water my grass about once a week while I am away. 
              | Thanks
              | till
          span Current Plant humidity 67%. 
          div.btn-group.button-color
              label.btn.btn-success(href='#', onclick="waterThePlant('plantLifeSignal')") Add water
          p#flowerPosition

      div.br_to_lengthenpage
        br
        br
        br
        br

      div#lamp2(typeof='Product')
        img(src="img/lamp.png",alt='Plant Life Signal Light')
        div.description
          h2(property='name') Plant Life Signal
          span(property='label', content='Plant Life Signal Light')
          span#plantStatus(property='description')
              | Your plant needs some water.
          div#lampControls
          p#plantLifeSignalPosition

        div.br_to_lengthenpage
          br
          br
          br
          br

      div#lamp1(typeof='Product')
        img(src='img/lamp.png' alt="Stock Indicator")
        div.description
          h2(property='name') Lamp
          |         
          br
          | The lamp is currently in daylight mode  
          div#lampControls
            div(data-toggle="buttons").btn-group.button-color
                label.btn.btn-success(href='#', onclick="on('stockIndicator')") night
                    input(name="color",itemue="btn btn-default",type="radio")
                label.btn.btn-warning(href='#', onclick="off('stockIndicator')") day
                    input(name="color",itemue="btn btn-default",type="radio")
          p#stockIndicatorPosition
      div.br_to_lengthenpage
        br
        br
        br
        br

      div#laptop(typeof='Product')
        img(src="img/laptop.jpg",alt='Laptop')
        div.description
          h2(property='name') Lenovo X250 Laptop
          a(href="http://thinkwiki.de/X250") X250 on Thinkwiki 
          span(property='label', content='Laptop')
          p#laptopPosition

        div.br_to_lengthenpage
          br
          br
          br
          br

        //- div#orchid(typeof='Product')
        //-   h2(property='name') Kühlschrank
        //-   |         
        //-   img(height='130', width='110', src='img/orchid.jpg')
        //-   br
        //-   |        Behälter für große Köstlichkeiten. Nicht vergessen, Milch kostet 20¢ !
        //-   p#orchidPosition
        //- div.br_to_lengthenpage
        //-   br
        //-   br
        //-   br
        //-   br

    script.
        //- supportsVibrate = "vibrate" in navigator;
        //- console.log('This device supports vibration: '+ supportsVibrate);
        //- alert(supportsVibrate);
        $(document).ready(function(){
            // grab an element
            var myElement = document.querySelector("#overviewbar");
            // construct an instance of Headroom, passing the element
            var headroom  = new Headroom(myElement, {
                      "offset": 462,
                      "tolerance": 0,
                      "classes": {
                        "notTop" : "fixed"
                      },
                      onTop : function() {
                        document.querySelector('#pagecontent').style.paddingTop = '0px';
                        $('#mini-radar').hide();
                      },
                      onNotTop : function() {
                        height = document.querySelector('#explorerheader').offsetHeight + document.querySelector('#radar').offsetHeight;
                        myElement.style.top = height;
                        document.querySelector('#pagecontent').style.paddingTop = '54px';
                        $('#mini-radar').show();
                      console.log("Show minified Radar!" + height)}
                    });
            // initialise
            headroom.init(); 

            //- init();
            //- resetOrientation();
            });
